{% extends 'base.html.twig' %}

{% block title %}Langue index{% endblock %}

{% block body %}
    <h1>Langue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Niveau</th>
                <th>Specialite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langue in langues %}
            <tr>
                <td>{{ langue.id }}</td>
                <td>{{ langue.titre }}</td>
                <td>{{ langue.niveau }}</td>
                <td>{{ langue.specialite }}</td>
                <td>
                    <a href="{{ path('langue_show', {'id': langue.id}) }}">show</a>
                    <a href="{{ path('langue_edit', {'id': langue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('langue_new') }}">Create new</a>
{% endblock %}
