{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user.email == "admin@admin.fr" %}
    <div class="container">
<script type="text/javascript">
    $(document).ready(function() {
        //alert("cc");
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Chercher '+title+'" />' );
        } );

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-mail</th>
        <th>specialite</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>

    {% for con in condidat %}

    <tr>

        <td>{{con.id}}</td>
        <td>{{con.nom}}</td>
        <td>{{con.prenom}}</td>
        <td>{{con.email}}</td>
        <td>{{con.specialite.titre}}</td>
        <td>  <a href="{{ path('cv', {'id' : con.id }) }}">Afficher cv</a></td>
    </tr>

  {% endfor %}

    </tbody>
    <tfoot>
    <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-mail</th>
        <th>duree</th>
        <th>action</th>
    </tr>
    </tfoot>
</table>
    </div>
    {% endif %}
{% endblock %}