{% if app.user %}

    {% extends 'base.html.twig' %}



    {% block body %}




        <div class="page">
            <div class="infophoto">
                <div class="info">

                    <p><strong>{{user.nom}} &nbsp; {{user.prenom}}</strong></p>
                    <p>Date de naissance :{{ app.user.datenaissance |date('d/m/Y')}}</p>
                    <p>Adresse : {{user.adresse}}</p>
                    <p>Tel : +216 {{user.tel}}</p>
                    <p>E-mail : {{user.email}}</p>
                    <p>Nationlité : {{user.nationalite}}</p>
                    <p>Specialité : {{ user.specialite.titre }}</p>
                </div>
                <div class="photo">

                    <img src="{{asset (user.avatar)}}" style="width:150px; height: 150px;border-radius: 50%;margin-right: 25px; ">

                </div>
            </div>
            <!-- Formation -->
            <div class="section">
                <h2>Formation </h2>





                {% for ls in listformation %}
                    <div class="row">
                        <div class="col-md-4"> {{ ls.titre }} <br>
                            {{  ls.anneescoler |date('d/m/Y') }} -
                            {% if not ls.anneeterminal%}
                            jusqu'à aujourd'hui
                            {% else %}
                            {{ ls.anneeterminal |date('d/m/Y')}} </div>
                        {% endif %}

                        <div class="col-md-8"><span class="titre"> &nbsp;</span>{{ ls.diplome }} &nbsp;avec  Mention &nbsp;{{ ls.mention }}

                            <br>
                            <hr>
                        </div>

                    </div>
                {% endfor %}


            </div>
            <!-- experience professionneles -->
            <div class="section">
                <h2>Expérience Professionneles</h2>



                <div class="row">
                    {% for ex in experience %}
                        <div class="col-md-4"> {{ ex.datedebut |date('d/m/Y')}} <span class="duree"> {{ ex.duree }} </span>
                        </div>

                        <div class="col-md-8"><span class="titre">{{ex.type}}</span> {{ex.lieu}}
                            <br>
                            {{ ex.description }}

                            <br>
                            <hr>
                        </div>


                    {% endfor %}
                </div>


            </div>
            <!-- langue -->
            <div class="section">
                <h2> Langues   </h2>


                <div class="row">
                    {% for lg in langue %}
                        <div class="col-md-4">   {{ lg.titre }}</div>
                        <div class="col-md-8"> {{ lg.niveau }}
                            <br>
                            <hr>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>

    {% endblock %}

{% endif %}
