<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{asset('css/login.css')}}">
            <link rel="stylesheet" type="text/css" href="{{asset('css/condidat.css')}}">
            <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="http://www.episousse.com.tn/wp-content/uploads/LOGO-EPI-ECOLE-DES-INGENIEURS-TUNISE-SOUSSE-MASTER-LICENCE-INGENIERIE.gif">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav dropdown my-2 my-lg-0">
                <li class="nav-item dropdown">

                    {% if app.user %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ app.user.nom }} {{ app.user.prenom }}
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if app.user.email != "admin@admin.fr" %}
                        <a class="dropdown-item" href="{{ path('condidat', {'id' : app.user.id }) }}">Mon CV</a>
                        <a class="dropdown-item" href="{{ path('profile')}}">Profile</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">logout</a>

                    </div>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Connexion
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('security_login')}}">Connexion</a>
                        <a class="dropdown-item" href="{{ path('security_registration')}}">Inscription</a>
                    </div>
                    {% endif %}
            </ul>

        </div>

    </nav>


    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src {{ asset('js/app.js') }}></script>

            <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        {% endblock %}
    </body>
</html>
